In [0]:
############ Connecting Dataset for Google driver #############
from google.colab import drive 
drive.mount('/content/gdrive')


!ls "/content/gdrive/My Drive/Dataset/Flight_Price"
import pandas as pd 
df_train=pd.read_excel('/content/gdrive/My Drive/Dataset/Flight_Price/Data_Train.xlsx')
df_to_predict=pd.read_excel('/content/gdrive/My Drive/Dataset/Flight_Price/Test_set.xlsx')

In [0]:
print("Number of rows in Training DS: ", df_train.shape)
print("Number of rows in Training DS: ", df_to_predict.shape)

In [0]:
######### Finding Null value using pandas #########
df_train.isnull().sum()

In [0]:
########### Remving Null Value from Dataset ##########
df_train.dropna(inplace=True)
df_train.isnull().sum()

In [0]:
#Select Duplicate Value
df_train.duplicated()
#Select Duplicate rows expect first occurrence based on all columns
duplicateRowsDF = df_train[df_train.duplicated()]
print("Total Duplicate rows expect first occurrence are :")
duplicateRowsDF.shape

In [0]:
#remove duplicate rows in training dataset
#keep= first allows us to keep the first
df_train.drop_duplicates(keep='first', inplace=True)

In [0]:
#########df["isWeekend"] = ((pd.to_datetime(df["Date_of_Journey"], format='%d/%m/%Y').dt.dayofweek).astype(int)
df_train["isWeekend"] = ((pd.to_datetime(df_train["Date_of_Journey"], format = '%d/%m/%Y').dt.dayofweek) // 5 == 1).astype(int)
df_train["Day_of_Week"] = pd.to_datetime(df_train["Date_of_Journey"], format = '%d/%m/%Y').dt.day_name()
df_train["Day_Of_Journey"] = pd.to_datetime(df_train["Date_of_Journey"], format = '%d/%m/%Y').dt.day
df_train["Month_of_Journey"] = pd.to_datetime(df_train["Date_of_Journey"], format = '%d/%m/%Y').dt.month

In [0]:
#######Selecting a perticular column as an list
duration = list(df_train["Duration"])
#######Selection a perticular column as object
duration1 = df_train['Duration'].head()
print(duration)

In [0]:
for i in range(len(duration)) :
    if len(duration[i].split()) != 2:
        if 'h' in duration[i] :
            duration[i] = duration[i].strip() + ' 0m'
        elif 'm' in duration[i] :
            duration[i] = '0h {}'.format(duration[i].strip())

dur_hours = []
dur_minutes = []  
dur_seconds = []
for i in range(len(duration)) :
    dur_minutes.append(int(duration[i].split()[0][:-1])*60 + int(duration[i].split()[1][:-1]))
    dur_seconds.append(int(duration[i].split()[0][:-1])*60*60 + int(duration[i].split()[1][:-1])*60)
df_train["Duration_minutes"] = dur_minutes
df_train.drop(["Duration"], axis=1, inplace = True)

In [0]:
import numpy as np
X = df_train.drop(['Price'], axis=1)
y = np.log1p(df_train["Price"])
X_to_predict = df_to_predict

In [0]:
"To find perticular data type field
X.select_dtypes(include='float')

In [0]:
""" Now we are going to implement same cleaning operation
to the Test Data set """
df_to_predict.isnull().sum()

In [0]:
# Find duplicated valu in test dataset
#Select Duplicate Value
df_to_predict.duplicated()
#Select Duplicate rows expect first occurrence based on all columns
duplicateRowsDF_toTest = df_to_predict[df_to_predict.duplicated()]
print("Total Duplicate rows expect first occurrence are :")
duplicateRowsDF_toTest.shape

In [0]:
df_to_predict.head()

In [0]:
######## Data Cleaning ###########
# df_to_predict.head()
# print("Train Set:\n", df_to_predict["Additional_Info"].value_counts())

In [0]:
#########df["isWeekend"] = ((pd.to_datetime(df["Date_of_Journey"], format='%d/%m/%Y').dt.dayofweek).astype(int)
df_to_predict["isWeekend"] = ((pd.to_datetime(df_to_predict["Date_of_Journey"], format = '%d/%m/%Y').dt.dayofweek) // 5 == 1).astype(int)
df_to_predict["Day_of_Week"] = pd.to_datetime(df_to_predict["Date_of_Journey"], format = '%d/%m/%Y').dt.day_name()
df_to_predict["Day_Of_Journey"] = pd.to_datetime(df_to_predict["Date_of_Journey"], format = '%d/%m/%Y').dt.day
df_to_predict["Month_of_Journey"] = pd.to_datetime(df_to_predict["Date_of_Journey"], format = '%d/%m/%Y').dt.month

In [0]:
#######Selecting a perticular column as an list
duration_to_predict = list(df_to_predict["Duration"])
print(duration_to_predict)

In [0]:
for i in range(len(duration_to_predict)) :
    if len(duration_to_predict[i].split()) != 2:
        if 'h' in duration_to_predict[i] :
            duration_to_predict[i] = duration_to_predict[i].strip() + ' 0m'
        elif 'm' in duration_to_predict[i] :
            duration_to_predict[i] = '0h {}'.format(duration_to_predict[i].strip())

dur_hours = []
dur_minutes = []  
dur_seconds = []
for i in range(len(duration_to_predict)) :
    dur_minutes.append(int(duration_to_predict[i].split()[0][:-1])*60 + int(duration_to_predict[i].split()[1][:-1]))
    dur_seconds.append(int(duration_to_predict[i].split()[0][:-1])*60*60 + int(duration_to_predict[i].split()[1][:-1])*60)
df_to_predict["Duration_minutes"] = dur_minutes
df_to_predict.drop(["Duration"], axis=1, inplace = True)

In [0]:
X_to_predict = df_to_predict

In [0]:
#Separate Categorical and Numerical Column in Dataframe (df_test)
X_categorical = X.select_dtypes(exclude=['int', 'float'])
X_numerical = X.select_dtypes(include=['int', 'float'])
#Separate Categorical and Numerical Column in Dataframe (Predict set)
X_to_predict_categorical = X_to_predict.select_dtypes(exclude=['int', 'float'])
X_to_predict_numerical = X_to_predict.select_dtypes(include=['int', 'float'])

In [0]:
# Label Encode and Hot encode categforical column
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
X_categorical = X_categorical.apply(le.fit_transform)
X_to_predict_categorical = X_to_predict_categorical.apply(le.fit_transform);

In [0]:
X_numerical.head()

   isWeekend  Day_Of_Journey  Month_of_Journey  Duration_minutes
0          1              24                 3               170
1          0               1                 5               445
2          1               9                 6              1140
3          1              12                 5               325
4          0               1                 3               285

In [0]:
#checking the numerical features skew
from scipy.stats import skew
skewed_feats = X_numerical.apply(lambda x: skew(x.dropna())).sort_values(ascending=False)
print("\nSkew in numerical features: \n")
skewness = pd.DataFrame({'Skew' :skewed_feats})
skewness.head(10)
skewness = skewness[abs(skewness) > 0.75]
print("There are {} skewed numerical features to Box Cox transform".format(skewness.shape[0]))

Skew in numerical features:

There are 4 skewed numerical features to Box Cox transform

In [0]:
# In the case of numerical features, we can perform different types of scaling like MinMax, StandardScaler or BoxCox tranformation.
# We are doing Scaling here
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
cols_train = list(X_numerical.columns)
index_train = X_numerical.index.tolist()
cols_test = list(X_to_predict_numerical.columns)
index_test = X_to_predict_numerical.index.tolist()

# We can also use standard scaler if required...The code is commented for now
# Get column names first
X_numerical_names = X_numerical.columns
X_numerical_index = X_numerical.index
X_to_predict_numerical_names = X_to_predict_numerical.columns
# Create the Scaler object
# scaler = StandardScaler()
# Fit your data on the scaler object
# scaled_df = scaler.fit_transform(X_numerical)
# X_numerical = pd.DataFrame(scaled_df, columns=X_numerical_names, index=index_train)
# scaled_df_to_predict = scaler.fit_transform(X_to_predict_numerical)
# X_to_predict_numerical = pd.DataFrame(scaled_df_to_predict, columns=X_to_predict_numerical_names, index = index_test)

# mmx = MinMaxScaler()
# df_minmax = mmx.fit_transform(X_numerical)
# df_minmax_test = mmx.fit_transform(X_to_predict_numerical)
# X_numerical = pd.DataFrame(data=df_minmax,columns=cols_train,index=index_train)
# X_to_predict_numerical = pd.DataFrame(data=df_minmax_test,columns=cols_test,index=index_test)

from scipy.special import boxcox1p
skewed_features = skewness.index
lam = 0.5
for feat in skewed_features:
    #all_data[feat] += 1
    X_numerical[feat] = boxcox1p(X_numerical[feat], lam)
    X_to_predict_numerical[feat] = boxcox1p(X_to_predict_numerical[feat], lam)

In [0]:
X_numerical.head()

In [0]:
#Merge categorical and numerical columns back into respective X and X_to_predict
X = pd.concat([X_categorical, X_numerical], axis=1)
X_to_predict = pd.concat([X_to_predict_categorical, X_to_predict_numerical], axis=1)

In [0]:
#Check shape of all three to verify that merge was done properly in above step
print(X.shape, X_numerical.shape, X_categorical.shape)
print(X_to_predict.shape, X_to_predict_numerical.shape, X_to_predict_categorical.shape)

In [0]:
from sklearn.model_selection import train_test_split
from sklearn import metrics
import numpy as np
from sklearn.metrics import mean_squared_log_error
# We have created a function to print accuracy metrics which can be used
# to get accuracy metrics of all models in upcoming steps
def print_accuracy_report(y_test, y_pred,X_test, model):
 print('R Squared(Accuracy)', metrics.r2_score(y_test, y_pred))   
 print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))  
 print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))
 print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))
 print('Root Mean Squared Log Error',np.sqrt(mean_squared_log_error( y_test, y_pred )))