<a href="https://colab.research.google.com/github/dipta-das/flight-ticket-price-prediction/blob/master/Flight_Ticket_price_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
############ Connecting Dataset for Google driver #############
from google.colab import drive 
drive.mount('/content/gdrive')


!ls "/content/gdrive/My Drive/Dataset/Flight_Price"
import pandas as pd 
df=pd.read_excel('/content/gdrive/My Drive/Dataset/Flight_Price/Data_Train.xlsx')

In [0]:
######### Finding Null value using pandas #########
df.isnull().sum()

In [0]:
########### Remving Null Value from Dataset ##########
df.dropna(inplace=True)
df.isnull().sum()

In [0]:
#Select Duplicate Value
df.duplicated()
#Select Duplicate rows expect first occurrence based on all columns
duplicateRowsDF = df[df.duplicated()]
print("Total Duplicate rows expect first occurrence are :")
duplicateRowsDF.shape

In [0]:
#remove duplicate rows in training dataset
#keep= first allows us to keep the first
df.drop_duplicates(keep='first', inplace=True)

In [0]:
#########df["isWeekend"] = ((pd.to_datetime(df["Date_of_Journey"], format='%d/%m/%Y').dt.dayofweek).astype(int)
df["isWeekend"] = ((pd.to_datetime(df["Date_of_Journey"], format = '%d/%m/%Y').dt.dayofweek) // 5 == 1).astype(int)
df["Day_of_Week"] = pd.to_datetime(df["Date_of_Journey"], format = '%d/%m/%Y').dt.day_name()
df["Day_Of_Journey"] = pd.to_datetime(df["Date_of_Journey"], format = '%d/%m/%Y').dt.day
df["Month_of_Journey"] = pd.to_datetime(df["Date_of_Journey"], format = '%d/%m/%Y').dt.month

In [0]:
#######Selecting a perticular column as an list
duration = list(df["Duration"])
#######Selection a perticular column as object
duration1 = df['Duration'].head()
print(duration)

In [0]:
for i in range(len(duration)) :
    if len(duration[i].split()) != 2:
        if 'h' in duration[i] :
            duration[i] = duration[i].strip() + ' 0m'
        elif 'm' in duration[i] :
            duration[i] = '0h {}'.format(duration[i].strip())

dur_hours = []
dur_minutes = []  
dur_seconds = []
for i in range(len(duration)) :
    dur_minutes.append(int(duration[i].split()[0][:-1])*60 + int(duration[i].split()[1][:-1]))
    dur_seconds.append(int(duration[i].split()[0][:-1])*60*60 + int(duration[i].split()[1][:-1])*60)
df["Duration_minutes"] = dur_minutes
df.drop(["Duration"], axis=1, inplace = True)

In [0]:
import numpy as np
X = df.drop(['Price'], axis=1)
y = np.log1p(df["Price"])

In [0]:
!ls "/content/gdrive/My Drive/Dataset/Flight_Price"
import pandas as pd 
df_to_predict=pd.read_excel('/content/gdrive/My Drive/Dataset/Flight_Price/Test_set.xlsx')

In [0]:
X_to_predict = df_to_predict

In [16]:
X_categorical = X.select_dtypes(exclude=['int', 'float'])
X_numerical = X.select_dtypes(include=['int', 'float'])

X_to_predict_categorical = X_to_predict.select_dtypes(exclude=['int', 'float'])
X_to_predict_numerical = X_to_predict.select_dtypes(include=['int', 'float'])
print(X_to_predict_categorical)
print(X_to_predict_numerical)

                Airline  ...              Additional_Info
0           Jet Airways  ...                      No info
1                IndiGo  ...                      No info
2           Jet Airways  ...  In-flight meal not included
3     Multiple carriers  ...                      No info
4              Air Asia  ...                      No info
...                 ...  ...                          ...
2666          Air India  ...                      No info
2667             IndiGo  ...                      No info
2668        Jet Airways  ...                      No info
2669          Air India  ...                      No info
2670  Multiple carriers  ...                      No info

[2671 rows x 10 columns]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[2671 rows x 0 columns]