In [0]:
############ Connecting Dataset for Google driver #############
from google.colab import drive 
drive.mount('/content/gdrive')


!ls "/content/gdrive/My Drive/Dataset/Flight_Price"
import pandas as pd 
df=pd.read_excel('/content/gdrive/My Drive/Dataset/Flight_Price/Data_Train.xlsx')

In [0]:
######### Finding Null value using pandas #########
df.isnull().sum()

In [0]:
########### Remving Null Value from Dataset ##########
df.dropna(inplace=True)
df.isnull().sum()

In [0]:
#Select Duplicate Value
df.duplicated()
#Select Duplicate rows expect first occurrence based on all columns
duplicateRowsDF = df[df.duplicated()]
print("Total Duplicate rows expect first occurrence are :")
duplicateRowsDF.shape

In [0]:
#remove duplicate rows in training dataset
#keep= first allows us to keep the first
df.drop_duplicates(keep='first', inplace=True)

In [0]:
#########df["isWeekend"] = ((pd.to_datetime(df["Date_of_Journey"], format='%d/%m/%Y').dt.dayofweek).astype(int)
df["isWeekend"] = ((pd.to_datetime(df["Date_of_Journey"], format = '%d/%m/%Y').dt.dayofweek) // 5 == 1).astype(int)
print(df["isWeekend"])